# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.d
*.a



# Logs and databases #
######################
*.log
*.sql
*.sqlite


*.lib
*.elf
*.err
*.hex
*.map
*.dep
*.pdf
*.PDF
*.Hbp
*.nav
*.tps
*.tws
*.tmp
*.log
*.chm
*.zip
*.pdb
*.ncb
*.suo
*.chw
*.sfr
*.ewt
*.user
*.miro
*.avrsuo
*.Debug
*.Release
lint*.txt
*.bak
*.qlc
JLink*.*
